<div class="container">
  <div class="row pt-5">
    <div class="col-sm-6">
     <h3> Student Portal</h3>
    </div>
    <div class="col-sm-6 text-end">
      <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      Add Student
      </button> -->
      <button type="button" class="btn btn-outline-primary" (click)="openModel()">
        Add Student
        </button>
    </div>
  </div>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <h5 class="card-title">John Doe  </h5>
            </div>
            <div class="col-sm-6">
              <h6 class="card-title">movie No  </h6>
              </div>
            </div>
      </div>
      <div class="card-body">
        
              
        <p class="card-text">City.</p>
        <p class="card-text">State.</p>
        <p class="card-text">Pincode.</p>
        <p class="card-text">Address.</p>
        <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
        <div class="card-footer">
          <p class="text-center"> Email</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>





<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
        <button type="button" class="btn-close" (click)="closeModel()" ></button>
        
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<router-outlet />